/*---------------------REGISTRO/INICIO_SESION EDITS-------------------------*/

/* Estilos para el contenedor del formulario */
.form-container {
    background-color: #dce0e3;
    border: 1px solid #b0b0b0;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 5%;
    margin: 30px auto;
}

/* Inputs y selects */
.form-control {
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-form h2 {
    text-align: center;
}

/* Estilos del checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.checkbox-container input:checked {
    background-color: #28a745;
}

.checkbox-container input:checked::after {
    content: "✔";
    color: white;
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 0;
}

/* Botón Registrarse centrado */
.btn-primary {
    background-color: #0f5aa9;
    color: white;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0caa53;
}

button:hover {
    cursor: pointer
}

button {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
}

/*button:before (attr data-hover)*/
button:hover:before {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

button:before {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*button div (button text before hover)*/
button:hover div {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*CHECKBOX STYLE*/
