
/*---------------------REGISTRO/INICIO_SESION EDITS-------------------------*/

/* Estilos para el contenedor del formulario */
.form-container {
    background-color: #dce0e3;
    border-radius: 10px;
    margin-top: 20px;
    border-radius: 2%;
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 7%;
}

/* Estilos para el formulario */
.login-form {
    max-width: 500px;
    margin: auto;
}